@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a completely fake company and assume no responsibility for any of the information provided on this website.</p>
