@using InsuranceQuote.Models
@model List<Quote>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quotes</h5>
        </div>
        <div class="card-body">
            @foreach (var quote in Model)
            {
                <div class="row mb-3">
                    <div class="col-3">
                        @quote.FirstName
                    </div>
                    <div class="col-3">
                        @quote.LastName
                    </div>
                    <div class="col-4">
                        @quote.EmailAddress
                    </div>
                    <div class="col-2">
                        @quote.Rate
                    </div>
                </div>
            }
        </div>
    </div>
</div>