@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Circular File<br />
    1 Spot Next to the Desk<br />
    Butt-Scratchistan, Faraway. 90210<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:circularfile@example.com">Support@example.com</a><br />
</address>