@{
    ViewBag.Title = "Talk to us.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    310 SW 4th Ave Suite 412<br />
    Portland, OR 97204<br />
    <abbr title="Phone">P:</abbr>
    503.206.6915
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<small>
    Contact Information last updated: @DateTime.Now
</small>