@using TechAcadStudentsMVC.Models
@model List<Instructor>
@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

@{ 
    foreach(Instructor instructor in Model)
    {
        <h4>@instructor.FirstName</h4>
    }
}