{% extends "base.html" %}

{% block title %}Royal Hotels{% endblock %}
{% block header %}Welcome to the Royal Hotels!{% endblock %}

{% block content %}

<div class="admin_panel">
    <form name="productForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label for="menu_id">Select a product from the list to edit:</label>
            <select id="menu_id" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
                {% for product in products %}
                <option value="../{{ product.pk }}/details/">{{ product.name }}</option>
                {% endfor %}
            </select>
            <div class="fromBtn_container">
                <a href="{% url 'createRecord' %}"><button type="button" class="btn">Create New Product</button></a>
                <a href="{% url 'home' %}"><button type="button" class="btn">Logout of Profile</button></a>
            </div>
        </div>
    </form>

</div>

















{% endblock %}