{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="eng" class="bg_img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title%}{% endblock%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
                <link  rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">

    </head>
    <body>
        <div class="page_content">
            {% include "navbar.html" %}
            <header class="header-title">
                <h1>{% block header %}{% endblock %}</h1>
            </header>
            {% block content %}{% endblock %}
        </div>

        {% include "footer.html" %}

    </body>

</html>