@using InsuranceQuote.Models
@model List<Quote>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-12 col-lg-12 mx-auto shadow">
        <div class="card-header text-center bg-primary">
            <h2>Quotes Made</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row" style="font-weight: bold">
                    <div class="col-md-3">
                        <p>First Name</p>
                    </div>
                    <div class="col-md-3">
                        <p>Last Name</p>
                    </div>
                    <div class="col-md-3">
                        <p>Email Address</p>
                    </div>
                    <div class="col-md-3">
                        <p>Monthly Rate</p>
                    </div>
                </div>
            </div>
            @foreach (var quote in Model)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            @quote.FirstName
                        </div>
                        <div class="col-md-3">
                            @quote.LastName
                        </div>
                        <div class="col-md-3">
                            @quote.Email
                        </div>
                        <div class="col-md-3">
                            <p>$@quote.Rate</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>